*
{
    font-family: "Atkinson Hyperlegible", sans-serif;
    margin: 0;
    padding: 0;
}
.atkinson-hyperlegible-bold {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .atkinson-hyperlegible-bold-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

html, body
{
    overflow: hidden;
    height: 100%;
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-size:cover;
    background-position:center;
}
@media (max-width: 760px) {

    html, body
    {
        background-size: cover;
        background-position:center;
    }
    
    #ourmanna-verse
    {
    top: 25% !important;   
    }
    #referenceSpan
    {
        font-size: 1em !important;   
    }
    #textSpan
    {
        font-size: 1.1em !important; 
    }
    header, footer
    {
        font-size: 0.8em !important;
    }
}
footer
{
    color: white;
    text-shadow: 0.1em 0.1em black;
    position: absolute;
    top: 95%;
}
header
{
    font-size: 1.5em;
    color: white;
    text-shadow: 0.1em 0.1em black;
    position: absolute;
    top: 5%;
}
#ourmanna-verse
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    color: white;
    text-align: center;
    font-size: x-large;
    text-shadow: 0.15em 0.1em black;
    
}
#referenceSpan
{
    text-decoration: underline;
    font-style: italic;
    font-size: 1em;   
}
#textSpan
{
    font-size: 1.5em; 
}
