*
{
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
#ourmanna-verse
{
    position: absolute;
    top: 50%;
    color: white;
    text-align: center;
    font-size: x-large;
    text-shadow: 0.1em 0.1em black;
    
}